* {
    box-sizing: border-box;
}

body {
  /* Typography */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: black;

  /* Visual */
}

html {
  /* Positioning  */
  position: relative;

  /* Box-model */
  min-height: 100%;
}

#main_image {
  background: black;
  max-width: 50%;
  position: relative;
  left: 280px;
}

#gameImages {
  margin-top: 10px;
	padding: 30px;
}

#gameContent {
	margin-top: 10px;
  padding: 30px;
  text-align: center;
  color: white;
  
}

h2 {
  text-align: center;
}

#totalWins {
  text-align: center;
}

#currentWord {
  text-align: center;
}

#wordLength {
  text-align: center;
}

#guessesRemaining {
  text-align: center;
}

#lettersGuessed {
  text-align: center;
}


#leftColumn {
	border: 1px solid orange;
  padding: 30px;
  height: 634px;
  width: 300px;
}

#rightColumn {
	border: 1px solid orange; 
	padding: 30px;
  height: 634px;
  width: 300px;
  text-align: center;
}

#gameImages img {
  width: 200px;
  height: 200px;;
  border: 0 none;
  opacity: 0.8;
}

.imgDivs {
	margin-bottom: 30px;
}

.names {
	font-size: 70%;
	font-weight: 700;
	letter-spacing: 1px;
	margin-top: 5px;
	text-align: center;
}

